<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OLP.AutoConnector.Properties.AutoConnector" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OLP.AutoConnector.Properties.ConnectRailings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OLP.AutoConnector.Properties.Actions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OLP.AutoConnector.Properties.AutoConnector>
            <setting name="ConnectRailingsHelpURL" serializeAs="String">
                <value>https://docs.google.com/document/d/1kTyZXmp8l5TWeQYctaFE5X4D_rw-SHAClW8Ahx5g1lY/edit?tab=t.sshawpz9zd4z</value>
            </setting>
            <setting name="DisconnectRailingsHelpURL" serializeAs="String">
                <value>https://docs.google.com/document/d/1kTyZXmp8l5TWeQYctaFE5X4D_rw-SHAClW8Ahx5g1lY/edit?tab=t.xzypimv1eci7#heading=h.y18n6vjhoxd5</value>
            </setting>
            <setting name="AutoConnectorHelpURL" serializeAs="String">
                <value>https://docs.google.com/document/d/1kTyZXmp8l5TWeQYctaFE5X4D_rw-SHAClW8Ahx5g1lY/edit?tab=t.0#heading=h.uck0vjjgkal7</value>
            </setting>
        </OLP.AutoConnector.Properties.AutoConnector>
        <OLP.AutoConnector.Properties.ConnectRailings>
            <setting name="UpperRailingConnectionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpperRailingConnectionDZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LowerRailingConnectionDZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RailingsConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
        </OLP.AutoConnector.Properties.ConnectRailings>
        <OLP.AutoConnector.Properties.Actions>
            <setting name="SelectedNextAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowShowCountDialog" serializeAs="String">
                <value>True</value>
            </setting>
        </OLP.AutoConnector.Properties.Actions>
    </userSettings>
</configuration>